<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="../assets/p1.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{hotel.name}}</h5>
                <div class="star-rating">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star"></i>
                        </li>
                        <li class="list-inline-item">
                            <i class="fa fa-star-o"></i>
                        </li>
                    </ul>
                </div>
                <p class="card-text"><small class="text-muted"><i class="fas fa-map-marker-alt fa-lg mr-2"></i>{{hotel.city}}</small></p>
                <p class="card-text"><small class="text-muted">{{hotel.price}}</small></p>
            </div>
        </div>
    </div>
</div>